# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
*resharper.user
# Visual Studio
[Dd]ebug/
[Rr]elease/
*.sln.cache
*.suo
*.csproj.user
[Pp]ackages/

# Resharper
*[Rr]e[Ss]harper.user
_ReSharper.*/

# mstest test results
TestResults